langchain
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python-dotenv
typesense
langchain_huggingface
datasets

pytest # from RAGAS tutorial
pytest-asyncio
ragas
requests

bert-score

deepeval
ollama

langchain-openai